[submodule "vim/pack/themes/opt/solarized8"]
	path = vim/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
